body, html {
		width:100%;
		height:100%;
		margin:0;
		padding:0;
}
#header {
		height: 56px;
	}
#pacifico {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
	text-shadow:1px 1px 1px #000000;
	 width: 214.284;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
	}

	@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/Pacifico.ttf');
	}

	#map_canvas {

		height:100%;
		width: 100%;
		min-height: 400px;
	}

	#gps {
	
		z-index: -1; 
		float:left;
		position: inline;
		position: absolute;
		margin: 5px 5px;
		
	}
	#img-usr {
		width: 100%;
		height: 100px;
		font-size: 90px;
		text-align: center;
		
	}
	 #demo-page {
        padding-left: 0px;
        padding-right: 0px;
    }
#demo-page .ui-header .ui-btn {
    background: none;
    border: none;
    padding-top: 0px;
}

#demo-page .ui-header .ui-btn-inner {
    border: none;
    padding-top: 0px;
}
/* Content styling. */

.back-btn { float: right; margin: 0 2em 1em 0; } 

#btnMiCarga {
		
		width:36px;
		height:36px;
		margin-top: 7px;
	
	}
	
	#btnOpciones {
		
		width:9,3%;
		height:6,5%;
		padding-left:0px;
		margin-top: 7px;
	}
